a:link,
a:active,
a:hover,
a:visited {
  text-decoration: none;
  color: #000;
}
* {
  font-size: 14px;
  margin: 0px;
  padding: 0px;
  font-family:
    roboto condensed,
    sans-serif;
  line-height: 1.3;
}
*,
:after,
:before {
  box-sizing: inherit;
}
* {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 14px;
  line-height: 1.2;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
body {
  width: 100%;
  min-height: 100vh;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0px;
  padding: 0px;
  overflow-x: hidden;
  /* Prevents horizontal overflow */
}
.w100 {
  width: 100%;
}
#header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0px;
  padding: 0px;
}
#content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0px;
  padding: 0px;
}
#footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0px;
  padding: 0px;
}
:root {
  --max: 1024px;
}
@media screen and (max-width: 1024px) {
  :root {
    --max: 100% !important;
  }
  .mobil-closed {
    display: none !important;
  }
}
@media screen and (min-width: 1024px) {
  :root {
    --max: 1024px !important;
  }
}
@media screen and (min-width: 1200px) {
  :root {
    --max: 1200px !important;
  }
}
.bold {
  font-style: bold !important;
}
.line-height-2 {
  line-height: 2;
}
.line-height-3 {
  line-height: 3;
}
.line-height-4 {
  line-height: 4;
}
.line-height-5 {
  line-height: 5;
}
.line-height-6 {
  line-height: 6;
}
.f12 {
  font-size: 12px !important;
}
.f14 {
  font-size: 14px !important;
}
.f16 {
  font-size: 16px !important;
}
.f18 {
  font-size: 18px !important;
}
.f20 {
  font-size: 20px !important;
}
.f22 {
  font-size: 22px !important;
}
.f24 {
  font-size: 24px !important;
}
.f26 {
  font-size: 26px !important;
}
.f28 {
  font-size: 28px !important;
}
.f30 {
  font-size: 30px !important;
}
.f32 {
  font-size: 32px !important;
}
.f34 {
  font-size: 34px !important;
}
.f36 {
  font-size: 36px !important;
}
.f38 {
  font-size: 38px !important;
}
.f40 {
  font-size: 40px !important;
}
.f42 {
  font-size: 42px !important;
}
.f44 {
  font-size: 44px !important;
}
.f46 {
  font-size: 46px !important;
}
.f48 {
  font-size: 48px !important;
}
.f50 {
  font-size: 50px !important;
}
h1 {
  font-size: 22px;
  font-weight: 500;
}
h2 {
  font-size: 18px;
  font-weight: 500;
}
h3 {
  font-size: 16px;
  font-weight: 500;
}
h4 {
  font-size: 12px;
  font-weight: 500;
}
li,
ul {
  list-style-type: none !important;
  list-style: none !important;
}
.input-container {
  position: relative;
  margin-top: 35px;
}
.input-container input {
  display: block;
  line-height: 3;
  margin: 0;
  padding: 5px 10px;
  width: calc(100% - 20px);
  border: 1px solid #fff;
  background-color: #fff;
  border-radius: 5px;
  font-weight: 500;
  color: #000;
}
.input-container input:focus {
  outline: none;
  outline: 0.5px solid #fff;
}
.input-container .placeholder {
  position: absolute;
  bottom: 42px;
  left: 10px;
  padding: 7px;
  color: #000;
  transition: 0.2s ease-in-out transform;
  background-color: #fff;
  border: solid #fff;
  border-width: 1px 1px 0px 1px;
  border-radius: 5px 5px 0px 0px;
  opacity: 0;
  z-index: -1;
  -webkit-transition: 0.2s ease-in-out transform;
  -moz-transition: 0.2s ease-in-out transform;
  -ms-transition: 0.2s ease-in-out transform;
  -o-transition: 0.2s ease-in-out transform;
}
.input-container input:not(:placeholder-shown) + .placeholder,
.input-container input:focus:not(:placeholder-shown) + .placeholder {
  visibility: visible;
  z-index: 1;
  opacity: 1;
  transform: translateY(-10px);
}
.flexColumn {
  display: flex;
  flex-direction: column;
}
.gap5 {
  gap: 5px;
}
.gap10 {
  gap: 10px;
}
#poputfull {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}
.poputfullchile {
  width: 500px;
  padding: 20px;
  background-color: white;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}
.poputfullbutton {
  background-color: #007bff;
  color: white;
  cursor: pointer;
  padding: 12px;
  border: none;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  transition: background-color 0.3s ease;
}
.poputfullbutton:hover {
  background-color: #0056b3;
}
.poputfullremove {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}
.cfff {
  color: #fff;
}
.c000 {
  color: #000;
}
